<div class="header_info">
    <div class="header_info_inner">
        <div class="header_info_item active">
            <div class="header_info_item__value">
                {{time}}
            </div>
            <div class="header_info_item__hint">
                {{date}} <br> сегодня
            </div>
        </div>
        <div class="header_info_item active">
            <div class="header_info_item__value">
                25
            </div>
            <div class="header_info_item__hint">
                Заказов <br> сегодня
            </div>
        </div>
        <div class="header_info_item">
            <div class="header_info_item__value">
                05:43
            </div>
            <div class="header_info_item__hint">
                Средняя время <br> на один заказ
            </div>
        </div>
        <div class="header_info_item active">
            <div class="header_info_item__value">
                10 578 ₽
            </div>
            <div class="header_info_item__hint">
                Средняя стоимость <br> одного заказа
            </div>
        </div>
        <div class="header_info_item">
            <div class="header_info_item__value">
                68 %
            </div>
            <div class="header_info_item__hint">
                Отгруженных <br> заказов
            </div>
        </div>
    </div>
</div>